<div>
  <h3>Presences List</h3>

  <div class="container-fluid presences-list">
    <div class="row presences-header">
      <div class="col-5">Name</div>
      <div class="col-1">IN</div>
      <div class="col-1">OUT</div>
      <div class="col-5">Message</div>
    </div>
    <div class="row presences-row" *ngFor="let item of items | async">
      <div class="col-5">{{ item.name }}</div>
      <div class="col-1">{{ item.status }}</div>
      <div class="col-1">{{ item.status }}</div>
      <div class="col-5">....</div>
    </div>
  </div>
</div>
