<nav class="navbar navbar-expand-lg navbar-light">

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
	  aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
	<a [routerLink]="['/']" class="navbar-brand"><h1>My Store</h1></a>

	<div class="collapse navbar-collapse" id="navbarToggle" [class.show]="isCollapsed">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item" *ngFor="let category of menuitems">
				<a class="nav-link" href="#">{{category.name}}</a>
			</li>
		</ul>
	</div>

</nav>

<br/>
<br/>
<br/>

<!--a [routerLink]="['/']">
  <h1>My Store</h1>
</a-->

<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->